table {
    width: 100%;
}

td {
    text-align: right;
    padding: 28px;
    border-bottom: var(--app-border);
}

thead > tr > td {
    font-size: 16px;
    font-weight: 500;
}

.align-left {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bin-icon {
    color: var(--app-text-lighter);
    cursor: pointer;
}
