.login-form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    box-sizing: border-box;
}

.login-title {
    color: #552583;
    font-size: 4rem;
    font-weight: 500;
}

.login-description {
    font-size: 16px;
}
