.sidebar-container {
    display: flex;
    flex-direction: column;
    flex: 0.2;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 32px;
    position: relative;
    border-right: var(--app-border);
}

.sidebar-logo {
    align-self: center;
    margin-bottom: 14px;
    color: #552583;
}

.router-link {
    text-decoration: none;
}

.logout-button {
    height: 50px;
}

.stick-to-bottom {
    position: absolute;
    bottom: 0;
}
